.folio-header ul{
    list-style: none;
    display: flex;
    flex-direction: row;
    gap: 3rem;
    justify-content: center;
    background-color: lightgreen;
    font-family: "Raleway", sans-serif;
    border-radius: 2em;


}