.personal-details{
    display: flex;
    flex-direction: column;
    align-items: center;
}
td:hover {background-color: #D6EEEE;}


th, td {
    padding-top: 1px;
    padding-bottom: 10px;
    padding-left: 30px;
    padding-right: 30px;
  }